.container {
	font-family: 'Oswald', sans-serif;
	position: relative;
	width: 80%;
	margin: 0 auto;
}
h1,
h3 {
	text-align: center;
	margin-bottom: 1em;
}
.form-element {
	/*float: left;*/
	width: 32%;
	margin-bottom: 2em;
}
.form-element label {
	display: block;
}
.form-element input {
	width: 95%;
	margin-left: .5em;
	padding-left: .25em;
}
.form-element.button {
	width: 100%;
	text-align: center;
}
.form-element.button input {
	width: 30%;
	text-align: center;
	padding-left: 0;
}
#submatron {
	font-size: 3em;
	/*margin-bottom: 2em;*/
}
#results {
	color: #000;
	margin: 0 auto;
	overflow: hidden;
}
#results span {
	font-family: 'Bowlby One SC', cursive;
	/*display: block;*/
	font-size: 3em;
	z-index: 1000;
}
#showAll {
	font-family: 'Oswald', sans-serif;
	position: absolute;
	left: 10%;
	bottom: 10%;
	z-index: 1000;
}

#restaurant-list {
	width: 30%;
	text-align: center;
	margin: 0 auto;
}

#restaurant-list input {
	margin-bottom: .5em;
}

/*
outline: 1px dotted orange;
*/